# Environments
.venv/
env/
venv/
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Build outputs
out/
_output/
dist/
build/
# Jupyter
.ipynb_checkpoints/
# Logs & temp
*.log
*.aux
*.out
*.toc
*.tmp
# OS files
.DS_Store
Thumbs.db
# Reports/exports (kept tracked by LFS, but ignore raw intermediates)
*.nbconvert.ipynb
.vs/
.vs/
Edward_Gyimah.ipynb
Edward_Gyimah.html
Edward_Gyimah.py
